allow toolbox init:fifo_file { write getattr };
allow toolbox rmnet_mux_prop:file { read open getattr };
allow toolbox property_socket:file write;
allow toolbox init:unix_stream_socket connectto;
allow toolbox system_prop:property_service set;
